
.self-button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #c0ccda;
  color: #1f2d3d;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}

.self-button-danger{
  color: #fff;
  background-color: #ff4949;
  border-color: #ff4949;
  &:active{
    background: #e64242;
    border-color: #e64242;
    color: #fff;
  }
  &:hover{
    background: #ff6d6d;
    border-color: #ff6d6d;
    color: #fff;
  }
}

.self-button-success {
  color: #fff;
  background-color: #13ce66;
  border-color: #13ce66;
  &:hover{
      background: #42d885;
      border-color: #42d885;
      color: #fff;
  }
  &:active{
    .el-button--success:active {
      background: #11b95c;
      border-color: #11b95c;
      color: #fff;
    }
  }
}


.font-success{
  color: #13ce66;
}
.font-warning{
  color: #f7ba2a;
}
.font-danger{
  color: #ff4949;
}

